table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.clickable {
  text-decoration: underline;
  cursor: pointer;
}
.clickable:hover {
  opacity: 0.7;
}
